pre {
  overflow-x: auto;
  max-width: 60vw;
}

pre code {
  word-wrap: normal;
  white-space: pre;
}

text-overflow: ellipsis;

.ellipsis_1line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}