<!-- <html>
    {{ range $book := .books }}
    <h1>{{ .Title }}</h1>
    <table>{{ .Author }}</table>
    <hr/>
    {{ end }}
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>民有路 - 各項服務狀態</title>
    <meta content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2786/2786366.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css" media="screen">
        <!-- 
            @import url("/css/org.css");
        -->
    </style>
</head>

<html><div class="container">
<!-- Wi-Fi QR-Code -->
<div class="card my-2">
    <h4 class="card-header text-center">
      Wi-Fi QR-Code
    </h4>
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
      <div class="row align-items-center g-0">
          <div class="col-md-4">
            <iframe src="{{ .Qrcodeurl.URL }}" alt="Lin-home_Wi-Fi" class="img-thumbnail"></iframe>
          </div>
          <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">網路名稱: </h5>
                  <p class="card-text">{{ .Qrcodeurl.SSID }}</p>
                  <hr>
                  <h5 class="card-title">密碼: </h5>
                  <p class="card-text">{{ .Qrcodeurl.WIFIPWD }}</p>
              </div>
          </div>
          <hr>
          <div class="col-md-12">
              <span class="d-inline-block"><small class="text-muted"><strong>將手機相機對準 QR Code 即可自動連接 WiFi</strong></small>
              </span>
              <i class="fas fa-angle-down">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
                        <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                  </svg>
              </i>
          </div>
      </div>
  </div>
</div>
<!-- End - Wi-Fi QR-Code -->
<!-- IoT Service -->
<div class="card my-2">
    <h4 class="card-header text-center">
      IoT Service Status & Control
    </h4>
    <div class="card-body pb-0">
        <small><table  class='table table-striped table-sm '><thead><tr><th>Service</th><th>Status</th><th>Control</th></tr></thead>
            {{ range .IoTservices }}
                {{ if eq .Status "ON" }}
                    <tr>
                        <td><a href="http://{{ .Ip }}"><strong>{{ .Service }}</strong></a></td><td class='table-success'><strong>Working</strong>
                        </td>
                        <td><a class='btn btn-danger' role='button' href="http://{{ .Ip }}/{{ .Other_cfg }}%20Off">Close</a>
                        </td>
                    </tr>
                {{ else if eq .Status "OFF" }}
                    <tr>
                        <td><a href="http://{{ .Ip }}"><strong>{{ .Service }}</strong></a></td><td class='table-danger'><strong>Shutdown</strong>
                        </td>
                        <td><a class='btn btn-primary' role='button' href="http://{{ .Ip }}/{{ .Other_cfg }}%20On">Open</a>
                        </td>
                    </tr>
                {{ else }}
                    <tr>
                        <td><a href="http://{{ .Ip }}"><strong>{{ .Service }}</strong></a></td><td class='table-danger'><strong>Offline</strong>
                        </td>
                        <td><a class='btn btn-primary' role='button' href="">Offline</a>
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
        </table></small>
    </div>
</div>
<!-- End - IoT Service -->
<!-- Home Service -->
<div class="card my-2">
    <h4 class="card-header text-center">
        Service status
    </h4>
    <div class="card-body pb-0">
        <small><table  class='table table-striped table-sm '><thead><tr><th>Service</th><th>Port</th><th>Status</th></tr></thead>
            {{ range .Homeservices }}
                {{ if ne .Port "53" }}
                    {{ if eq .Other_cfg "" }}
                        <tr>
                            <td><a href="http://{{ .Ip }}:{{ .Port }}"><strong>{{ .Service }}</strong></a></td><td>{{ .Port }}</td>
                    {{ else }}
                        <tr>
                            <td><a href="http://{{ .Ip }}:{{ .Port }}/{{ .Other_cfg }}"><strong>{{ .Service }}</strong></a></td><td>{{ .Port }}</td>
                    {{ end }}
                    {{ if eq .Status "Online" }}
                        <td class='table-success'>{{ .Status }}</td>
                    {{ else if eq .Status "Offline"}}
                        <td class='table-danger'>{{ .Status }}</td>
                    {{ else }}
                        <td class='table-danger'>Checking...</td>
                    {{ end }}
                        </tr>
                {{ else }}
                    <tr>
                        {{ if eq .Status "Online" }}
                            <td><strong>{{ .Service }}</strong></td><td>53</td><td class='table-success'>{{ .Status }}</td>
                        {{ else if eq .Status "Offline" }}
                            <td><strong>{{ .Service }}</strong></td><td>53</td><td class='table-danger'>{{ .Status }}</td>
                        {{ else }}
                            <td><strong>{{ .Service }}</strong></td><td>53</td><td class='table-danger'>Checking...</td>
                        {{ end }}
                    </tr>
                {{ end }}
            {{ end }}
        </table></small>
    </div>
</div>
<!-- End - Home Service -->
<!-- UPS Information -->
<div class="card mb-2">
  <h4 class="card-header text-center">
    UPS information
  </h4>
  <div class="card-body">
    <table class='table table-sm mb-0'>
    {{ if eq .Upsinfo.Upsfullinfo.Status "OL" }}
        <tr><td>狀態</td><td><span class='badge badge-success'>{{ .Upsinfo.Upsfullinfo.Status }}</span> 穩定在線 - 已充飽</td></tr>
        <tr><td>電池電量 <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-battery-charging' viewBox='0 0 16 16'><path d='M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z'/><path d='M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z'/><path d='M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z'/><path d='M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z'/></svg></td><td>
    {{ else if eq .Upsinfo.Upsfullinfo.Status "OL CHRG" }}
        <tr><td>狀態</td><td><span class='badge badge-info'>{{ .Upsinfo.Upsfullinfo.Status }}</span> 穩定在線 - 充電中</td></tr>
        <tr><td>電池電量 <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-battery-charging' viewBox='0 0 16 16'><path d='M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z'/><path d='M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z'/><path d='M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z'/><path d='M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z'/></svg></td><td>
    {{ else if eq .Upsinfo.Upsfullinfo.Status "OB DISCHRG" }}
        <tr><td>狀態</td><td><span class='badge badge-primary'>{{ .Upsinfo.Upsfullinfo.Status }}</span> 電池供應模式</td></tr>
        <tr><td>電池電量 <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-battery' viewBox='0 0 16 16'><path d='M0 6a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6zm2-1a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H2zm14 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z'/></svg></td><td>
    {{ else if eq .Upsinfo.Upsfullinfo.Status "LB" }}
        <tr><td>狀態</td><td><span class='badge badge-warning'>{{ .Upsinfo.Upsfullinfo.Status }}</span> 電池供應模式 - 低電量</td></tr>
        <tr><td>電池電量 <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-battery-full' viewBox='0 0 16 16'><path d='M2 6h10v4H2V6z'/><path d='M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h10zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z'/></svg></td><td>
    {{ else }}
        <tr><td>狀態</td><td><span class='badge badge-danger'>{{ .Upsinfo.Upsfullinfo.Status }}</span> 關閉中</td></tr>
        <tr><td>電池電量 <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-battery-half' viewBox='0 0 16 16'><path d='M2 6h5v4H2V6z'/><path d='M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h10zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z'/></svg></td><td>
    {{ end }}
            <div class="col p-0 d-inline-flex">
            <span class="mr-2"><span class="badge badge-secondary">{{ .Upsinfo.Battery.Type }}</span></span>
                <div class="progress flex-grow-1 align-self-center">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ .Upsinfo.Battery.Charge | percent_to_color_charge }}" role="progressbar" style="width:{{ .Upsinfo.Battery.Charge }}%;" aria-valuenow="{{ .Upsinfo.Battery.Charge }}" aria-valuemin="0" aria-valuemax="100">{{ .Upsinfo.Battery.Charge }}%</div>
                </div>
            </div>
        </td></tr>
        <tr><td>預估時間</td><td>{{ .Upsinfo.Battery.Runtime }}</td></tr>
        <tr><td>電池電壓</td><td>{{ .Upsinfo.Battery.Voltage }}</td></tr>
        <tr><td>輸入電壓</td><td>{{ .Upsinfo.Input.Voltage }}</td></tr>
        <tr><td>蜂鳴器</td><td>{{ .Upsinfo.Upsfullinfo.Beeper.Status }}</td></tr>
        <tr><td>負載</td><td>{{ .Upsinfo.Upsfullinfo.Load }}</td></tr>
        <tr><td>廠牌</td>
    {{ if eq .Upsinfo.Upsfullinfo.Mfr "CPS" }}
        <td>CyberPower</td></tr>
    {{ else }}
        <td>{{ .Upsinfo.Upsfullinfo.Mfr }}</td></tr>
    {{ end }}
        <tr><td>電池測試</td><td>{{ .Upsinfo.Upsfullinfo.Test.Result }}</td></tr>
    </table>
  </div>
</div>
<!-- End - UPS Information -->

<!-- Synology NAS information -->
<div class="card mb-2">
  <h4 class="card-header text-center">
    Synology NAS information
  </h4>
  <div class="card-body">
    <table  class='table table-sm mb-0'>
        <tr><td>Average load</td>
        <td><h5>
        {{ range .average }}
            <span class='badge badge-secondary' >{{ . }}</span>
        {{ end }}
        </h5></td>
        <tr><td>Uptime</td><td>
        {{ range .uptime_users }}
            <span class="badge badge-secondary">{{ . }}</span>
        {{ end }}
        </td></tr>
        <tr><td>Disk Status (Free/Total)</td><td>
        {{ range .disk_info }}
        <div class="col p-0 d-inline-flex">
            <span class="mr-2"><span class="badge badge-secondary">{{ .Name }}</span> : {{ .Free_Space | percent_to_byte_disk }} / {{ .Total_Space | percent_to_byte_disk }}</span>
            <div class="progress flex-grow-1 align-self-center">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ .Free_Space_P | percent_to_color_disk }}" role="progressbar" style="width:{{ .Free_Space_P }}%;" aria-valuenow="{{ .Free_Space_P }}" aria-valuemin="0" aria-valuemax="100">{{ .Free_Space_P }}%</div>
            </div>
        </div>
        {{ end }}
        </td></tr>
        <tr><td>RAM Status (Free/Total)</td><td>
        <div class="col p-0 d-inline-flex">
            <span class="mr-2">{{ .ram_test.Free_mem }} / {{ .ram_test.Total_mem }}</span>
            <div class="progress flex-grow-1 align-self-center">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ .ram_test.Mem_p | percent_to_color_disk }}" role="progressbar" style="width:{{ .ram_test.Mem_p }}%;" aria-valuenow="{{ .ram_test.Mem_p }}" aria-valuemin="0" aria-valuemax="100">{{ .ram_test.Mem_p }}%</div>
            </div>
        </div>
        </td></tr>
        <tr><td>Top RAM user</td>
        <td>
            {{ range .top_ram }}
            <small><pre class='mb-0 '><code>{{ . }}</code></pre></small><br/>
            {{ end }}
        </td>
        </tr>