<!-- Wi-Fi QR-Code -->
{{ if eq .Qrcodeurl.SHOW "Enable" }}
<div class="card my-2">
    <h4 class="card-header text-center">
      Wi-Fi QR-Code
    </h4>
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
      <div class="row align-items-center g-0">
          <div class="col-md-4">
            <iframe src="{{ .Qrcodeurl.URL }}" alt="Lin-home_Wi-Fi" class="img-thumbnail"></iframe>
          </div>
          <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">網路名稱: </h5>
                  <p class="card-text">{{ .Qrcodeurl.SSID }}</p>
                  <hr>
                  <h5 class="card-title">密碼: </h5>
                  <p class="card-text">{{ .Qrcodeurl.WIFIPWD }}</p>
              </div>
          </div>
          <hr>
          <div class="col-md-12">
              <span class="d-inline-block"><small class="text-muted"><strong>將手機相機對準 QR Code 即可自動連接 WiFi</strong></small>
              </span>
              <i class="fas fa-angle-down">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
                        <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                  </svg>
              </i>
          </div>
      </div>
  </div>
</div>
{{ end }}
<!-- End - Wi-Fi QR-Code -->